// Main variables
$size1: 4px;
$size2: 8px;
$size2-3: 10px;
$size3: 12px;
$size4: 16px;
$size5: 20px;
$size6: 24px;
$size7: 28px;
$size8: 32px;
$size9: 36px;
$size10: 40px;
$size11: 44px;
$size12: 48px;
$size13: 52px;
$size14: 56px;
$main-font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$component-custom-button-min-width-desktop: 260px;
$component-bar-chart-height: 500px;

// Custom main sizes
$page-margin-desktop: 100px;
$page-margin-mobile: 16px;

// Custom header sizes
$main-logo-width: 74px;

// Colors
$main-color-black: #000000;
$main-color-white: #ffffff;
$main-color-softblue: lightblue;
$main-color-grey: #cccccc;
$main-color-light: rgba(#cccccc, 0.3);
$main-color-soft-grey: #f3f2f2;
$main-color-strong-grey: #c2bfbc;

// Fonts
$default-p-size: $size3;
$default-font-weight: 300;
